[submodule "fps/services/analysis/features-clip2video/clip2video"]
	path = fps/services/analysis/features-clip2video/clip2video
	url = https://github.com/haolamnm/clip2video.git
[submodule "fps/services/analysis/features-clipvip/clipvip"]
	path = fps/services/analysis/features-clipvip/clipvip
	url = https://github.com/haolamnm/clipvip.git
[submodule "fps/services/analysis/objects-mmdet/mmdetection"]
	path = fps/services/analysis/objects-mmdet/mmdetection
	url = https://github.com/haolamnm/mmdetection.git
